@*@model Domain.ViewModel.ContactViewModel*@
@model IEnumerable<Domain.ViewModel.ContactViewModel>
@using System.Resources
@{
    ViewBag.Title = "No me olvides";}
<script type="text/javascript">

    var contacts = @Html.Raw(Json.Encode(Model));

</script>
<h2>{{ 'pageTitle' | translate }}</h2>
<div ng-controller="ContactController">
    <div class="view-animate-container">
        <div ng-view class="view-animate">...</div>
    </div>

    <div>
        <div id="myphotoBooth">
            <div id="myCamera" class="camera_frame"></div>
            <div id="preTakeButtons">
                <input id="previewSnapshot" type=button value="Take Snapshot">
            </div>
            <div id="postTakeButtons" style="display:none">
                <input id="cancelPreview" type=button value="&lt; Take Another">
                <input id="savePhoto" type=button value="Save Photo &gt;" style="font-weight:bold;">
            </div>
        </div>
        <div id="myResult" class="camera_frame" style="display:none">
        </div>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script type="text/javascript" src="~/Scripts/underscore.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-translate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-translate-loader-url.min.js"></script>
    @* EJEMPLO 1 FUNCA !!! <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>*@
    @* EJEMPLO 2 FUNCA !!! *@
    @*<script type="text/javascript" src="~/Scripts/select2.min.js"></script>*@
    @* PRUEBAS VARIAS !!!
                <script type="text/javascript" src="~/Scripts/angular-sanitize.min.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-ui.min.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    *@
    <script type="text/javascript" src="~/Scripts/i18n/angular-locale_es-ar.js"></script>
    <script type="text/javascript" src="~/Scripts/log4javascript.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/aop.js"></script>
    <link href="~/Content/Webcam.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/webcamjs-master/webcam.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/WebcamManager.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/AuditManager.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/Globals.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/ErrorManager.js"></script>
    <script type="text/javascript" src="~/Scripts/Contact/App.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/TranslateProvider.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/VoiceForm.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/VoiceManager.js"></script>
    <script type="text/javascript" src="~/Scripts/Contact/CRUD.js"></script>
}