<input type="text" id="buscador" ng-model="buscador">
<input type="button" ng-click="Search()" value="Buscar todos">
<div ng-hide="hasResultados">{{ 'withoutResult' | translate }}</div>
<table ng-show="hasResultados">
    <tr>
        <th>#</th>
        <th>{{ 'email' | translate }}</th>
        <th>Descripción</th>
        <th></th>
    </tr>
    <tr ng-repeat="(id,Registro) in Registros | filter: buscador">
        <td>{{id}}</td>
        <td>{{Registro.Id}}</td>
        <td>{{Registro.Descripcion}}</td>
        <td>
            <a href="#/Edit/{{Registro.Id}}">Modificar</a>
            <a href="#/Delete/{{Registro.Id}}">Eliminar</a>
            <a href="#/Details/{{Registro.Id}}">Ver</a>
        </td>
    </tr>
</table>